@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

* { box-sizing: border-box; }
* &::before { box-sizing: border-box; }
* &::after { box-sizing: border-box; }

/********************
GENERAL
*********************/

body {
	font-family: 'Barlow', sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6;
	color: #8d8d8d;
	background: #fff;
	text-rendering: optimizeLegibility; /*choose what to optimize when the engine renders text*/
	overflow-x: hidden; /*when content overflows a block-level element, hide it ...*/
}

a {
	color: #8d8d8d;
	text-decoration: none;
}

a:hover {
	color: #232323;
}

/********************
NAVIGATION
*********************/

nav {
	position: relative;
	z-index: 2;
	padding: 1.25rem 0 1.25rem: 0;
}

nav ul {
	line-height: 2.2;
	display: flex;
	justify-content: flex-start;
}

nav li {
	margin: 0.325rem 0;
}

#logo {
	color: #232323;
	font-weight: 700;
	font-size: 1.125rem;
	padding-left: 0.75rem;
}

#highlight {
	color: #e83f43;
	font-size: 1.25rem;
}




































